# ---------------------
# Node dependencies
# ---------------------
node_modules/
.pnpm-debug.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ---------------------
# Strapi-specific
# ---------------------
/.build/              # Old build folder (rare, pre-v4)
/dist/               # Admin panel build output
/.cache/
/.tmp/               # SQLite DB, temporary build, admin data

# Ignore SQLite DBs if used
*.db
*.sqlite

# ---------------------
# Env and config
# ---------------------
.env
.env.*               # e.g. .env.development, .env.production
.env.local

# ---------------------
# TypeScript
# ---------------------
*.tsbuildinfo
next-env.d.ts

# ---------------------v
# Frameworks
# ---------------------
.next/                # Next.js build
out/                  # Next.js export

# ---------------------
# Deployment
# ---------------------
.vercel
build/                # General build folder

# ---------------------
# OS-specific
# ---------------------
.DS_Store
Thumbs.db
